{% extends 'annotation/base.html' %}


{% block content %}

<h1 class="mt-2">Bibliografia</h1>
<hr class="mt-0 mb-4">
<input type="text" id="search" placeholder="Search...">
{% csrf_token %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% for p in page.paginator.pages %}

        {% if p == page %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page.number }}">{{ page }}</a>
            </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ p.number }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
  </nav>

{% if page.object_list %}
{% if request.GET.page %}
        <table class="table" id="tableNotesPage">
    {% else %}
        <table class="table" id="tableNotesPage" hidden>
    {% endif %}
    <tr class="header">
      <th>Abbreviazione</th>
      <th>Forma estesa</th>
      <th></th>
      <th></th>
    </tr>
  
    {% for object in page.object_list %}
    <tr>
        <td class="editable-{{ object.id }}">{{ object.name }}</td>
        <td class="editable-{{ object.id }}">{{ object.description }}</td>
        <td><button type="button" id="edit-source-{{ object.id }}" class="btn btn-secondary edit-sources"><i class="fas fa-edit"></i></button></td>
        <td></button><button type="button" id="delete-source-{{ object.id }}" class="btn btn-danger delete-sources"><i class="fas fa-trash"></i></button></td>
    </tr>
    {% endfor %}
   
</table>
{% else %}
    <p>No notes are available.</p>
{% endif %}

{% if source_list %}

    <table class="table" id="tableNotes" hidden>
    <tr class="header">
      <th>Abbreviazione</th>
      <th>Forma estesa</th>
      <th></th>
      <th></th>
    </tr>
  
    {% for source in source_list %}
    <tr>
        <td class="editableall-{{ source.id }}">{{ source.name }}</a></td>
        <td class="editableall-{{ source.id }}">{{ source.description }}</td>
        <td><button type="button" id="edit-sourceall-{{ source.id }}" class="btn btn-secondary edit-sources"><i class="fas fa-edit"></i></td>
        <td></button><button type="button" id="delete-source-{{ source.id }}" class="btn btn-danger delete-sources"><i class="fas fa-trash"></i></button></td>
    </tr>
    {% endfor %}
   
</table>
{% else %}
    <p>No notes are available.</p>
{% endif %}


<button id="download-pdf" type="button" class="btn btn-primary">Scarica bibliografia</button>

<!-- Modal to delete source -->
<div id="del-source-modal" class="del-modal">

    <!-- Modal content -->
    <div class="del-modal-content">
      <span class="close-icon close-modal">&times;</span>
      <br/>
      <div class="modal-body">
        Vuoi davvero cancellare la fonte?
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-modal-2">Annulla</button>
          <button type="button" id="del-source" class="btn btn-danger btn-del-source">
              <i class="fas fa-trash"></i> Cancella fonte
          </button>
      </div>
    </div>
</div>

<!-- <a class="btn btn-primary" href="../lemma/" role="button">Inserisci un nuovo lemma</a> -->

{% endblock %} 
{% block script %}
{% load static %}

<script src="{% static 'imago/js/search.js' %}"></script>
<script src="{% static 'imago/js/sources.js' %}"></script>
{% endblock %} 

